{% extends 'rango/base.html' %}

{% block title_block %}Add Page{% endblock %}

{% block body_block %}
  <div class="hero-unit">
    <h1>Add a Page</h1>
    <br/>
    <div class="container">
      <form class="span6" id="page_form" method="post" action="{% url 'rango:add_page' category_name_url %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          {{field.errors}}
          {{field.help_text}}
          {{field}}<br/>
        {% endfor %}<br/>
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
      </form>
    </div>
  </div>
{% endblock %}
