<!DOCTYPE html>
<html>
  <head>
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
  </head>

  <body>
    <div>
      {% block error_block %}{% endblock %}
    </div>
    <div>
      {% block body_block %}{% endblock %}
    </div>
    <hr/>
    <div>
      <ul>
        <li><a href="{% url 'rango:index' %}">Rango</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'rango:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'rango:register' %}">Register Here</a></li>
          <li><a href="{% url 'rango:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
