{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-fluid-adj.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
  </head>

  <body>
    <div>
      {% block error_block %}{% endblock %}
    </div>
    <div>
      {% block body_block %}{% endblock %}
    </div>
    <hr/>
    <div>
      <ul>
        <li><a href="{% url 'rango:index' %}">Rango</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'rango:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'rango:register' %}">Register Here</a></li>
          <li><a href="{% url 'rango:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>

    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
