{% extends 'rango/base.html' %}

{% block title_block %}{{ category_name }}{% endblock %}

{% block body_block %}
  <div class="hero-unit">
    <h1>{{ category_name }}</h1>
    <div id="cat-like-div">
      {% include "rango/ajax/cat-like-div.html" %}
    </div>
  </div>
  <div class="row-fluid">
    {% if category %}
      <div id="cat-pages">
        {% include "rango/ajax/category_page_list.html" %}
      </div>
      <a href="{% url 'rango:add_page' category_url %}">Add Page</a><br/><br />
    {% else %}
      The specified category {{ category.name }} does not exist!
    {% endif %}
  </div>
  <div class="row-fluid">
    <form class="container form-signin" id="user_form" method="post" action="{% url 'rango:search' %}">
      {% csrf_token %}
      <input type="text" size="50" name="query" value="" id="query" />
      <input class="btn btn-primary" type="submit" name="submit" value="Search" />
      <br/>
    </form>
    {% if result_list %}
      <div style="clear: both;">
        <ul class="unstyled">
          {% for result in result_list %}
            <li>
              <table class="search-table">
                <tr>
                  <td><button class="btn btn-mini quick-add" data-cat="{{ category_url }}" data-title="{{ result.title }}" data-url="{{ result.link }}">Add</button></td>
                  <td>
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <em>{{ result.summary }}</em>
                  </td>
                </tr>
              </table>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
  </div>
{% endblock %}
