{% extends 'rango/base.html' %}

{% block title_block %}{{ category_name }}{% endblock %}

{% block body_block %}
  <div class="hero-unit">
    <h1>{{ category_name }}</h1>
  </div>
  <div class="row-fluid">
    {% if category %}
      {%if pages %}
        <ol>
          {% for page in pages %}
            <li><a href="{% url 'rango:track_url' page.id %}">{{page.title}}</a> - {{ page.views }} view(s)</li>
          {% endfor %}
        </ol>
      {% else %}
        <strong>No Pages</strong>
      {% endif %}
      <a href="{% url 'rango:add_page' category_url %}">Add Page</a><br/><br />
    {% else %}
      The specified category {{ category.name }} does not exist!
    {% endif %}
  </div>
  <div class="row-fluid">
    <form class="container form-signin" id="user_form" method="post" action="{% url 'rango:search' %}">
      {% csrf_token %}
      <input type="text" size="50" name="query" value="" id="query" />
      <input class="btn btn-primary" type="submit" name="submit" value="Search" />
      <br/>
    </form>
    {% if result_list %}
      <div style="clear: both;">
        <ol>
          {% for result in result_list %}
            <li>
              <strong><a href="{% url 'rango:add_page' category_url %}?title={{ result.title }}&url={{ result.link }}">{{ result.title }}</a></strong><br />
              <em>{{ result.summary }}</em>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
  </div>
{% endblock %}
