<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>{{ category_name }}</h1>
    {% if category %}
      {%if pages %}
        <ul>
          {% for page in pages %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
        <a href="{% url 'rango:add_page' category_url %}">Add Page</a>
      {% else %}
        <strong>No Pages</strong>
      {% endif %}
    {% else %}
      The specified category {{ category.name }} does not exist!
    {% endif %}
  </body>
</html>
