{% extends 'rango/base.html' %}

{% block title_block %}Register{% endblock %}

{% block body_block %}
  <div class="hero-unit">
    <h1>Register with Rango</h1>
    <br/>

    {% if registered %}
      <p><strong>thank you for registering!</strong></p>
      <p><a href="{% url 'rango:login' %}">Login</a> when you're ready to Rango!</p>
    {% else %}
      <div class="container">
        <form class="form-signin" id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="form-signin-heading">Sign up Here</h2>
          {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/>
          {% endfor %}

          {%for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br>
          {% endfor %}
          <br/>
          <button class="btn btn-primary" type="submit" name="submit">Register</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
